.hchip{
	background-color: #ff471a !important;
	color: white !important;
}

.mchip{
	background-color: orange !important;
	color: white !important;
}

.lchip{
	background-color: gold !important;
	color: white !important;
}