.answerForm button {
  background: blue;
  color: #fff;
  padding: 0.25em 0.25em;
  border: none;
  border-radius: 5px;
  margin: 15px 10px 0 10px !important;
}
.answerForm__title {
  text-align: center;
  margin: 20px 0 20px 0 !important;
}
.answerForm h4 {
  color: rgba(0, 0, 0, 0.582);
}
.answerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 50px auto !important;
  height: 457px;
  padding: 2px 50px 10px 50px !important;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 26px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 4px 4px 26px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 4px 4px 26px 1px rgba(0, 0, 0, 0.33);
  background: linear-gradient(
    to bottom right,
    rgba(28, 101, 211, 0.726),
    rgb(39, 201, 168)
  );
  font-family: "IRANSans";
}
.answerform__commentArea {
  height: 300px !important;
  resize: none;
}
.answerForm__buttonGroup {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.answerForm__message--success {
  color: black!important;
  text-align: center;
  background-color: #47cf73;
  float: center;
  border-radius: 5px;
  margin-top: 15px;
}

.answerForm__message--error {
  color: #fff!important;
  text-align: center;
  background-color: #cf4747;
  float: center;
  border-radius: 5px;
  margin-top: 15px;
}
