button{
    background: blue;
    color: #fff;
    padding: 0.25em 0.25em;
    border: none;
    border-radius: 5px;
    margin: 2px;
}
.TicketForm{
    margin: 50px auto;
  width: 70%;
  /* height: 350px; */
  padding: 20px 50px 50px 50px;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(to bottom right,rgb(19, 113, 255),rgb(6, 240, 189));
  font-family:'IRANSans';
}
h3{
    text-align: center;
}
.TicketInfo{
    margin: 50px auto;
    width: 70%;
background: #fff;
border-radius: 10px;
padding: 20px 50px 50px 50px;
text-align: center;
}
h4{
    color:rgba(0, 0, 0, 0.582);
}
a{
    color: red;
}
.RecentReply{
    margin: 50px auto;
    width: 70%;
background: #fff;
border-radius: 10px;
padding: 20px 50px 50px 50px;
text-align: center;

}