.assign-button{
    padding: 5px 10px;
    color: rgb(248, 241, 241);
    background-color: green;
    width: 120px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}
.assign-select-customer{
    font-size: 20px;
}
.assign-main-select{
    height: fit-content;
}
.assign-delete-button{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

button.assign-button {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

button.MuiButtonBase-root.MuiIconButton-root.assign-delete-button.MuiIconButton-edgeEnd {
    color: #d14141;
}

button.MuiButtonBase-root.MuiIconButton-root.assign-delete-button.MuiIconButton-edgeEnd :hover {
    color: red;
}



.assigne-select{
    width: 300px;
    float: right !important;
    margin: 0px !important;
}
