.costumerButtongreen
{
    font-size: 14px;
    color:bisque;
    background-color: rgb(37, 90, 24);
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.75);
}
.costumerButtonred
{
    font-size: 14px;
    color:bisque;
    background-color: rgb(216, 43, 86);
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.75);
}
.colorgreen{
    font-size: 14px;
    color:bisque;
    background-color: rgb(87, 184, 48);
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.75);
    
}