
table.GeneratedTable {
  
    table-layout:fixed;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #61af5a;
    border-style: solid;
    color: #000000;
    
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #61af5a; 
    text-align: right;
    border-style: solid;
    padding: 5px;
   
  }
  
  table.GeneratedTable thead {
    background-color: #61af5a;
  }

