/*Base CSS*/

h1{
  padding: 10px 0 ;
}
.navbar a{
  top:20px;
  color:white;
  background-color: rgb(18, 2, 161);
  text-decoration: none;
  box-shadow: 3px 3px 3px 2px rgba(80, 80, 80, 0.75);
  border: 1px solid gray;
  border-radius: 100px;
  padding: 10px 20px;
  margin:auto;
  position: relative ;
  left: 10%;
} 
.labels{
  margin-top:1px;
}

.costumerForm{

  text-align: center;
  border:1px solid rgb(189, 189, 189);
  border-radius: 10px;
  padding: 20px 80px;
  margin: auto;
  width: 350px;
  height: 430px;
  position: relative;
  background-color: rgb(248, 248, 248);
  box-shadow: 3px 3px 3px 2px rgba(153, 153, 153, 0.75);
}

.inputName{
  padding: 5px 80px;
  border-radius:7px;
  box-shadow: 2px 2px 2px 1px rgba(177, 177, 177, 0.65);
  position: relative;
  right:100px;
   
}
.citybutton{
  padding: 10px 80px;
  border-radius:7px;
  position: relative;
  right:100px;
}

.costumerButton{
  color:bisque;
  background-color: rgb(18, 2, 161);
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px 2px rgba(153, 153, 153, 0.75);
}
.status{
  padding: 10px 80px;
  border-radius:7px;
  position: relative;
  right:100px;
}
.editForm{
    top:120px;
    right:300px;
    text-align: center;
    border:1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 20px 80px;
    margin: auto;
    width: 350px;
    height: 200px;
    position: relative;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 3px 3px 2px rgba(153, 153, 153, 0.75);
  }
select{
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  margin:10px;
  box-shadow: 2px 2px 2px 2px rgba(163, 163, 163, 0.65);
}

.costumerForm2{
 bottom:150px;
  left:300px;
  text-align: center;
  border:1px solid rgb(189, 189, 189);
  border-radius: 10px;
  padding: 0px 80px;
  margin: auto;
  width: 350px;
  height: 380px;
  position: relative;
  background-color: rgb(248, 248, 248);
  box-shadow: 3px 3px 3px 2px rgba(153, 153, 153, 0.75);
}

.costumerButton{
  color:bisque;
  background-color: rgb(18, 2, 161);
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px 2px rgba(153, 153, 153, 0.75);
}

form{
  padding: 10px;
}

.marginForm{
  margin-top: 20px;
}

form{
  padding: 10px;
}
.marginForm{
  margin-top: 20px;
}
select{
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  margin:10px;
  box-shadow: 2px 2px 2px 2px rgba(163, 163, 163, 0.65);
}
hr{
  border: 1px solid rgb(202, 202, 202);
  margin-bottom: 20px;
}
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, #13857E, #6B4DA8);
  }
  table.GentedTab {
  
    width:100%;
    table-layout: fixed;
    background: -webkit-linear-gradient(left, #13857E, #6B4DA8);
    background: linear-gradient(to right, #13857E, #6B4DA8);
    font-family: 'iransans';
  }
   table.GentedTab th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .GentedTab-header{
    background-color: rgba(255, 255, 255, 0.24);
   }
   .GentedTab-Item{
    background-color: rgba(255, 255, 255, 0.034);
   }
   