
.row{
     display: flex;
     width:100%;
 } 
  .app{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  10vh;
    width: 100%;
  }
  
  .fullName{
  font-weight: bolder;
    color:rgb(43, 255, 0);

  }
  .vaz{
     
    color:rgb(0, 81, 255);
    font: size 27px;
    font-style: unset;
  }
.khat{
    background-color:white; 
    color:white;
}