

table.Table  {

  table-layout:fixed;
  width: 100%;
  border-collapse:collapse;
  text-align: center;
    color: white;
    font-size: 16px;
    border: 1px;
}

table.Table tbody th{
    border-width: 1px;
    border-collapse: separate;
    text-align: center;
    border-style: ridge;
    border-color:  #bbdefb;
    background-color: #e3f2fd;
}

table.Table thead th{
    border-width: 1px;
    border-collapse: separate;
    text-align: center;
    border-style: ridge;
    border-color:  #bbdefb;
    background-color: #283593;
}

table.Table td{
    border-width: 1px;
    border-collapse: separate;
    text-align: center;
    border-style: ridge;
    border-color:  #bbdefb;
    background-color: #e3f2fd;
    color:black;
    font-size: 14px;
    padding: 7px;
}

.addTicketSample {
    margin: 40px auto;
    width: 40%;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
    box-shadow: 4px 4px 26px 1px rgba(0, 0, 0, 0.33);
    background: linear-gradient(
            to bottom right,
            rgba(28, 101, 211, 0.726),
            rgb(39, 201, 168)
    );
    font-family: "IRANSans";
}

table.Table2 {

table-layout:fixed;

width:25%;
height: 90px;
border-collapse:separate;
border-width: 10px;
border-style: ridge;
text-align: center;
border-color:  #34b41c;
background:linear-gradient(#0099FF,#46d041 );
}

button.button {

  text-align: center;
  background:blueviolet;
  color: rgb(43, 86, 165);
  padding: 0.5em 2em;
  border:rgb(99, 45, 223);
  border-radius: 5px;
  border-style:ridge;

  vertical-align: center;
  font-family: "IRANSans";
}
.font{
font-style:inherit;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', IRANSans , sans-serif;
font-size: 18px;
display: inline-block;
-webkit-text-fill-color: #444444;
}
.error{
    font-style:inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', IRANSans, sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #b71c1c;
    -webkit-text-fill-color:#b71c1c;
    text-align: center;

}
.font2{
font-style:inherit;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', IRANSans, sans-serif;
font-size: 20px;
display: inline-block;
 color: #1a237e;
 -webkit-text-fill-color:black;

}
.container-table100 {
position: absolute;
width: 100%;
top: 10%;
min-height: 100%;
background:linear-gradient(#4158d0, #c850c0);
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 33px 30px;
}

.center{
    text-align: center;
}

.right {
    text-align: right;
    margin: 5px 45px 10px;
}

.white-text{
    color:white;
}

.select_form{
    width: 65%;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.input-support {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}
