* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}




.boxx2 {
    width:70%;
    height:100px;
    background:#FFF;
    margin:40px auto;
    z-index: 5;
}

.boxx4 {
    display: block;
    width:40%;
    height: 80px;
    background:#FFF;
    margin:40px auto;
    z-index: 5;
    left: 15%;
}

.boxx3 {
    top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background:#FFF;
    margin:40px auto;
    z-index: 5;
    position: absolute;
}

.effect
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  
}


.effect:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

.logo11{
    color: #069370;
    height: 60px;
    font-size: 24px;
    line-height: 100px;
    padding: 0 19px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    font-weight: 500;
    text-decoration: none !important;
}

.logo12{
    color: #069370;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    padding: 0 19px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    font-weight: 500;
    margin-right: -30px;
    text-decoration: none !important;
}

.navf{
    display: flex;
    justify-content: center;
    align-items: center;
}


.clear{
    clear: both;
}


@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}


@media (max-width: 760px)
{

    .navf{
        left: 75%;
    }


    .menuuu{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }

    .menuuu::before{
        
        font-family: fontAwesome;
        line-height: 40px;

    }

    .menuuu.active::before{
        
        font-family: fontAwesome;
        line-height: 40px;

    }



}

  .limiter {
    width: 100%;
    margin: 0 auto;
    }

    .container-table100 {
    width: 100%;
    position: absolute;
    top: 35%;
    min-height: 100%;
    background:linear-gradient(-30deg,#1ec4e9 0% ,#673ab7 50% , #262626 50% , #607d8b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    }

    .wrap-table100 {
    width: 1170px;
    }

    .table2 {
        border-spacing: 1;
        border-collapse: collapse;
        background-color: white !important;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .table2 * {
    position: relative;
    }
    .table2 td, .table2 th {
    padding-left: 8px;
    }
    .table2 thead tr {
    height: 60px;
    background: #36304a;
    }
    .table2 tbody tr {
    height: 50px;
    }
    .table2 tbody tr:last-child {
    border: 0;
    }
    .table2 td, .table2 th {
    text-align: left;
    }
    .table2 td.l, .table2 th.l {
    text-align: right;
    }
    .table2 td.c, .table2 th.c {
    text-align: center;
    }
    .table2 td.r, .table2 th.r {
    text-align: center;
    }


    .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #283593;
    line-height: 1.2;
    font-weight: unset;
    color: white;
    }



    .column1 {
    width: 260px;
    padding-left: 40px;
    }

    .column2 {
    width: 160px;
    padding-right: 50px;
    }

    .column3 {
    width: 245px;
    }

    .column4 {
    width: 110px;
    text-align: right;
    padding-right: 40px;
    }

    .column5 {
    width: 170px;
    text-align: right;
    }

    .column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
    }

    .column7 {
        width: 200px;
        text-align: right;
        padding-right: 62px;
    }


    .column8 {
        width: 222px;
        text-align: right;
        padding-right: 42px;
    }

    .column9 {
        width: 100px;
        text-align: right;
        padding-right: 42px;
        cursor: pointer;
    }

    .column82 {
        width: 322px;
        text-align: right;
        padding-right: 100px;
    }

    .flex{
        position: absolute;
        left: 17%;
        margin-top: 1%;
    }

    .a{
        position: relative;
        padding: 25px 50px;
        text-decoration: none;
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
        font-family: serif;
        letter-spacing: 4px;
        overflow: hidden;
        background: rgba(255,255,255,.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
        z-index: 10;
        color: #212529;
    }
    .a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(190, 224, 177, 0.267);
        z-index: 10;
    }
    .a::after{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,transparent,rgba(10, 51, 4, 0.4),transparent);
        transition: 0.5s;
    }
    .a:hover:after{
        left: 100%;
    }
    .a:focus {
        background-color: #666 !important;
        color: white;
    }
    .a:focus::before {
        background-color: transparent;
    }



    @media screen and (max-width: 992px) {
    .logo12{
        font-size: 14px;
    }
    .boxx4{
        width: 70%;
        left: 0;
    }
    .a{
        padding: 12px 25px;
        font-size: 1em;
        width: 40px;
        overflow: hidden;
        height: 20px;
    }
    .boxx3{
        background: transparent;
    }
    .container-table100{
        top: 45%;
    }
    .table2 {
        display: block;
    }
    .table2 > *, .table2 tr, .table2 td, .table2 th {
        display: block;
    }
    .table2 thead {
        display: none;
    }
    .table2 tbody tr {
        height: auto;
        padding: 37px 0;
    }
    .table2 tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    .table2 tbody tr td:last-child {
        margin-bottom: 0;
    }
    .table2 tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    .table2 tbody tr td:nth-child(1):before {
        content: "ردیف";
    }
    .table2 tbody tr td:nth-child(2):before {
        content: "عنوان";
    }
    .table2 tbody tr td:nth-child(3):before {
        content: "اولویت";
    }
    .table2 tbody tr td:nth-child(4):before {
        content: "مشتری";
    }
    .table2 tbody tr td:nth-child(5):before {
        content: "محصول";
    }
    .table2 tbody tr td:nth-child(7):before {
        content: "پاسخگویی";
    }
    .table2 tbody tr td:nth-child(6):before {
        content: "گروه";
    }
    .table2 tbody tr td:nth-child(8):before {
        content: "تاریخ ارسال";
    }
    .table2 tbody tr td:nth-child(9):before {
        content: "جزئیات";
    }

    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column82,
    .column9 {
        text-align: left;
    }

    .column4,
    .column7,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3,
    .column8,
    .column82,
    .column9 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
    }

    @media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
    }


    .buttoon{
        z-index: 10;
      }

    .table-hover tbody tr:hover {
        color: #212529;
        background-color: #8aff04;

    }
    .table-hover tbody tr:hover {
        background-color: rgb(253, 253, 253)  !important;
    }
    .table tr td,.table tr th{
        text-align: center !important;
    }
    .row{
        margin: 0px !important;
    }



    .seelect {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background-image: none;
        }
        
        .seelect::-ms-expand {
        display: none;
        }
       
        .select {
        position: relative;
        display: flex;
        width: 10em;
        height: 3em;
        line-height: 3;
        border: 2px solid rgb(108, 117, 108);
        overflow: hidden;
        border-radius: .25em;
        margin-left: 1%;
        cursor: pointer;
        }
        .seelect {
        flex: 1;
        padding: 0 3.5em;
        color: black;
        cursor: pointer;
        }
        
        .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #34495e;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        }
      
        .select:hover::after {
        color: #f39c12;
        }


        



      