* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: rgb(182, 230, 127);
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    z-index: 2;
    margin-top: 5%;
}

.logo11{
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 70px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    font-weight: 700;
    text-decoration: none !important;
}

.navf{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);   
    display: flex;
}


.clear{
    clear: both;
}


@media (max-width: 1200px)
{
    header{
        margin: 20px;
    }
}


@media (max-width: 760px)
{

    .navf{
        left: 75%;
    }


    .menuuu{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }

    .menuuu::before{
        
        font-family: fontAwesome;
        line-height: 40px;

    }

    .menuuu.active::before{
        
        font-family: fontAwesome;
        line-height: 40px;

    }



}



    .limiter {
    width: 100%;
    margin: 0 auto;
    }

    .container-table100 {
    position: absolute;
    width: 100%;
    position: absolute;
    top: 10%;
    min-height: 90%;
    background:linear-gradient(#4158d0, #c850c0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    }

    .wrap-table100 {
    width: 1170px;
    }

    table {
        border-spacing: 1;
        border-collapse: collapse;
        background-color: white !important;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    table * {
    position: relative;
    }
    table td, table th {
    padding-left: 8px;
    }
    table thead tr {
    height: 60px;
    background: #36304a;
    }
    table tbody tr {
    height: 50px;
    }
    table tbody tr:last-child {
    border: 0;
    }
    table td, table th {
    text-align: left;
    }
    table td.l, table th.l {
    text-align: right;
    }
    table td.c, table th.c {
    text-align: center;
    }
    table td.r, table th.r {
    text-align: center;
    }


    .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    }



    .column1 {
    width: 260px;
    padding-left: 40px;
    }

    .column2 {
    width: 160px;
    padding-right: 50px;
    }

    .column3 {
    width: 245px;
    }

    .column4 {
    width: 110px;
    text-align: right;
    padding-right: 40px;
    }

    .column5 {
    width: 170px;
    text-align: right;
    }

    .column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
    }

    .column7 {
        width: 200px;
        text-align: right;
        padding-right: 62px;
    }


    .column8 {
        width: 222px;
        text-align: right;
        padding-right: 42px;
    }

    .column9 {
        width: 100px;
        text-align: right;
        padding-right: 42px;
        cursor: pointer;
    }

    .column82 {
        width: 322px;
        text-align: right;
        padding-right: 100px;
    }

    @media screen and (max-width: 992px) {
    .container-table100{
        top: 25%;
    }
    table {
        display: block;
    }
    table > *, table tr, table td, table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content: "ID";
    }
    table tbody tr td:nth-child(2):before {
        content: "Title";
    }
    table tbody tr td:nth-child(3):before {
        content: "Priority";
    }
    table tbody tr td:nth-child(4):before {
        content: "Costumer";
    }
    table tbody tr td:nth-child(5):before {
        content: "Product";
    }
    table tbody tr td:nth-child(7):before {
        content: "AnswerStatus";
    }
    table tbody tr td:nth-child(6):before {
        content: "Department";
    }
    table tbody tr td:nth-child(8):before {
        content: "SubmissionDateTime";
    }
    table tbody tr td:nth-child(9):before {
        content: "Details";
    }

    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column82,
    .column9 {
        text-align: left;
    }

    .column4,
    .column7,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3,
    .column8,
    .column82,
    .column9 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
    }

    @media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
    }

    .flex{
        position: absolute;
        top: 14.5%;
        right: 14%;
    }

    .buttoon{
        background:#1AAB8A;
        border-radius: 50px;
        color:rgb(0, 0, 0);
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        z-index: 10;
      }
      .buttoon:hover{
        background:rgb(148, 209, 219);
        color:rgb(0, 0, 0);
        border-radius: 50px;
      }
      .buttoon:before,.buttoon:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: rgb(1, 24, 18);
        transition:400ms ease all;
        border-radius: 50px;
      }
      .buttoon:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
        border-radius: 50px;
      }
      .buttoon:hover:before,.buttoon:hover:after{
        width:100%;
        transition:800ms ease all;
        border-radius: 50px;
      }
      .table-striped tbody tr:nth-of-type(odd) {
        background-color: white ;
    }
    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgb(207, 245, 165) ;
    }
    .table-hover tbody tr:hover {
        color: #212529;
        background-color: #8aff04;

    }
    .table-hover tbody tr:hover {
        background-color: rgb(253, 253, 253)  !important;
    }
    table tr td,table tr th{
        text-align: center !important;
    }
    .row{
        margin: 0px !important;
    }
    select{
        width: 100% !important;
    } 